@import "./leptonic/leptonic-themes";

body {
	font-family: sans-serif;
	text-align: center;
}

#app_window {
	width: 100%;
	display: flex;
	justify-content: center;
}

#app_content {
	padding: 4px;
	width:50%;
	min-width: 400px;
	max-width: 800px;
	background-color: lightblue;
	border-radius: 0.5em;
}

#tab_container {
	display: flex;
	gap: 0.5em;
	flex-direction: column;
	align-items: center;
	overflow-y: auto;
	max-height: 75vh;
}

.sensor_card {
	border-radius: 0.5em;
	width:75%;
	height: 3em;
	align-content: center;
	position: relative;
}

.sensor_config {
	position:absolute;
	top:0px;
	right:0px;
}